@import url('https://fonts.cdnfonts.com/css/seven-segment');

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    background-color: #e9ebd6;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Seven Segment", sans-serif;
    font-weight: 400;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: center;
}

.BackgroundImg {

    z-index: 2;
    position: absolute;
    height: 745px;
    top: 0px;
}

#dateTime {
    top: 186px;
    left: 590px;
    height: 50px;
    width: 80px;
    position: absolute;
    z-index: 0;
    border-radius: 0;
    font-size: 26px;
    color: rgb(0, 70, 0);
    font-weight: bolder;
}

#screenTime {
    z-index: -1;
    height: 80px;
    width: 100px;
    top: 160px;
    left: 577px;
    position: absolute;
}

#dateTimeFilter {
    z-index: 1;
    height: 80px;
    width: 100px;
    top: 160px;
    left: 577px;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/Screen_glass.png);
}

#screen {
    height: 275px;
    width: 343px;
    top: 185px;
    left: 190px;
    position: absolute;
    z-index: 0;
    background-size: cover;

}

#glassFilter {
    z-index: 1;
    height: 275px;
    width: 343px;
    top: 185px;
    left: 190px;
    position: absolute;
    background-size: cover;
}

.glass-filter-0 {
    background-image: url(../img/Screen_glass.png);

}

.glass-filter-1 {
    background-image: url(../img/Screen_glass_red.png);

}

.glass-filter-2 {
    background-image: url(../img/Screen_glass_green.png);

}

.glass-filter-3 {
    background-image: url(../img/Screen_glass_blue.png);

}

.basicScreen {
    background-color: rgb(135, 135, 135);
}

.button {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.button:active {
    margin-top: 2px;
    transition: 0s;
}

.button:hover {
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.channelButton {
    background-image: url(../img/Btn_C_1.png);
    position: absolute;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    z-index: 3;
}

#c1,
#c2 {
    top: 426px;
}

#c3,
#c4 {
    top: 382px;
}

#c5,
#c6 {
    top: 339px;
}

#c1,
#c3,
#c5 {
    left: 90px;
}

#c2,
#c4,
#c6 {
    left: 125px;
}


.channel2 {
    background-image: url(../img/channel_1.gif);
}

.channel1 {
    background-image: url(../img/channel_2.gif);
}

.channel3 {
    background-image: url(../img/channel_3.gif);
}

.channel4 {
    background-image: url(../img/channel_4.gif);
}

.channel4 {
    background-image: url(../img/channel_4.gif);
}

.channel5 {
    background-image: url(../img/channel_5.gif);
}

.channel6 {
    background-image: url(../img/channel_6.gif);
}


#power {
    position: absolute;
    height: 52px;
    width: 52px;
    top: 502px;
    left: 493px;
    background-image: url(../img/Btn_Power.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#volUp {
    position: absolute;
    height: 27px;
    width: 27px;
    top: 163px;
    left: 90px;
    background-image: url(../img/Btn_Volume_Up.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

#volDown {
    position: absolute;
    height: 27px;
    width: 27px;
    top: 163px;
    left: 125px;
    background-image: url(../img/Btn_Volume_Down.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#volDis1 {
    top: 307px;
    left: 92px;
}

#volDis2 {
    top: 307px;
    left: 115px;
}

#volDis3 {
    top: 307px;
    left: 138px;
}

#volDis4 {
    top: 285px;
    left: 92px;
}

#volDis5 {
    top: 285px;
    left: 115px;
}

#volDis6 {
    top: 285px;
    left: 138px;
}

#volDis7 {
    top: 262px;
    left: 92px;
}

#volDis8 {
    top: 262px;
    left: 115px;
}

#volDis9 {
    top: 262px;
    left: 138px;
}

#volDis10 {
    top: 238px;
    left: 92px;
}

#volDis11 {
    top: 238px;
    left: 115px;
}

#volDis12 {
    top: 238px;
    left: 138px;
}

#volDis13 {
    top: 215px;
    left: 92px;
}

#volDis14 {
    top: 215px;
    left: 115px;
}

#volDis15 {
    top: 215px;
    left: 138px;
}

.lightSmallOff {
    background-image: url(../img/Display_Volume.png);
    height: 15px;
    width: 15px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}


.whiteNoise {
    background-image: url(../img/white_noise.gif);
}

.filterButton {
    height: 16px;
    width: 22px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    border-radius: 0;
}

.filter {
    margin-top: 5px;
}

#f1,
#f2,
#f3 {
    top: 371px;
}

#f1 {
    left: 575px;
    background-image: url(../img/Btn_filter_red.png);
}

#f2 {
    left: 615px;
    background-image: url(../img/Btn_filter_green.png);
}

#f3 {
    left: 657px;
    background-image: url(../img/Btn_filter_blue.png);
}

#snakeLever {
    height: 27px;
    width: 135px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    border-radius: 0;
    background-image: url(../img/Btn_lever.png);
    top: 560px;
    left: 88px;
}

.snakeLeverOn {
    margin-top: 10px;
}

#snake {
    height: 245px;
    width: 415px;
    top: 200px;
    left: 193px;
    position: absolute;
    z-index: 0;

}