@import url('https://fonts.cdnfonts.com/css/seven-segment');

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Seven Segment", sans-serif;
    font-weight: 400;
}

#container {
    height: 100vh;
    width: 100vw;

    background-color: #e9ebd6;

    display: flex;
    justify-content: left;
    align-items: center;
}

.BackgroundImg {

    z-index: 2;
    position: absolute;
    height: 745px;
    top: 0px;
}

#screen {
    height: 275px;
    width: 343px;
    top: 185px;
    left: 190px;
    position: absolute;
    z-index: 0;
    background-size: cover;

}

.glass-filter {
    z-index: 1;
    background-image: url(../img/Screen_glass.png);
    height: 275px;
    width: 343px;
    top: 185px;
    left: 190px;
    position: absolute;
    background-size: cover;

}

.basicScreen {
    background-color: black;
}

#remote {
    height: 25em;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
    background-color: khaki;
    margin-left: 60em;
}

.button {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.button:active {
    margin-top: 2px;
    transition: 0s;
}

.button:hover {
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.channelButton {
    background-image: url(../img/Btn_C_1.png);
    position: absolute;
    height: 27px;
    width: 27px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    z-index: 3;
}

#c1,
#c2 {
    top: 426px;
}

#c3,
#c4 {
    top: 382px;
}

#c5,
#c6 {
    top: 339px;
}

#c1,
#c3,
#c5 {
    left: 90px;
}

#c2,
#c4,
#c6 {
    left: 125px;
}


.canal2 {
    background-color: aqua;
}

.canal1 {
    background-color: pink;
}

#power {
    position: absolute;
    height: 52px;
    width: 52px;
    top: 502px;
    left: 493px;
    background-image: url(../img/Btn_Power.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#volUp {
    position: absolute;
    height: 27px;
    width: 27px;
    top: 163px;
    left: 90px;
    background-image: url(../img/Btn_Volume_Up.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

#volDown {
    position: absolute;
    height: 27px;
    width: 27px;
    top: 163px;
    left: 125px;
    background-image: url(../img/Btn_Volume_Down.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#volDis1 {
    top: 307px;
    left: 92px;
}

#volDis2 {
    top: 307px;
    left: 115px;
}

#volDis3 {
    top: 307px;
    left: 138px;
}

#volDis4 {
    top: 285px;
    left: 92px;
}

#volDis5 {
    top: 285px;
    left: 115px;
}

#volDis6 {
    top: 285px;
    left: 138px;
}

#volDis7 {
    top: 262px;
    left: 92px;
}

#volDis8 {
    top: 262px;
    left: 115px;
}

#volDis9 {
    top: 262px;
    left: 138px;
}

#volDis10 {
    top: 238px;
    left: 92px;
}

#volDis11 {
    top: 238px;
    left: 115px;
}

#volDis12 {
    top: 238px;
    left: 138px;
}

#volDis13 {
    top: 215px;
    left: 92px;
}

#volDis14 {
    top: 215px;
    left: 115px;
}

#volDis15 {
    top: 215px;
    left: 138px;
}

.lightSmallOff {
    background-image: url(../img/Display_Volume.png);
    height: 15px;
    width: 15px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}


.whiteNoise {
    background-image: url(../img/white_noise.gif);
}